<div class="row">
	<div class="col-md-10">
		<h2>Your information.</h2>
		<ul class="list-group">
			<% if current_user.name %>
			<li class="list-group-item">
				Your username:<%= current_user.name %></li>
			<% end %>
			<li class="list-group-item">Your email: <%= current_user.email %></li>
			<li class="list-group-item">Signed up on <%= current_user.created_at %></li>

    	</ul>

    	<h2>Do list Due: <span id="listCount"><%= @items.count %></span><span id="updatedCount"></span> things</h2>
    	<h5>Click check-mark when you are done successfully! Good job!</h5>

    	<ul class="list-group" id="mylist">
    		
		<%= render partial: 'items/item', collection: @items %>
			
		</ul>
		</br>
		<h4>Lets create a new to-do item!</h4>

        <%= render partial: 'items/form', locals: { item: Item.new } %>
    </div>
</div>